main {
  background-color: rgb(236, 242, 245);
}

.main-grid-section {
  display: grid;
  grid-template-columns: 20% 20% 20% 40%;
}

.first-circle-container {
  height: 200px;
  grid-column: 1/2;
}

.second-circle-container {
  height: 200px;
  grid-column: 2/3;
}

.third-circle-container {
  height: 200px;
  grid-column: 3/4;
}

.chart-text {
  font: 100% 'Helvetica';
  color: rgb(105, 104, 109);
  fill: #000;
  transform: translateY();
}

.chart-number {
  font-size: 50%;
  line-height: 1;
  text-anchor: middle;
  transform: translateY(10%);
}

.chart-label {
  font-size: 0.2em;
  color: rgb(105, 104, 109);
  text-transform: uppercase;
  text-anchor: middle;
  -moz-transform: translateY(0.7em);
  -ms-transform: translateY(0.7em);
  -webkit-transform: translateY(0.7em);
  transform: translateY(0.7em);
}

.section .container .rounded {
  display: flex;
  flex-direction: row;
  transform: rotateX(180deg);
}

.rounded .progress-track,
.rounded .progress-fill {
  border-radius: 3px;
  box-shadow: inset 0 0 5px rgba(0,0,0,.2);
}


.vertical .progress-bar {
  margin: 5% 0 5% 10px;
  float: right;
  height: 150px;
  width: 20px;
}

.vertical .progress-track {
  width: 20px;
  height: 100%;
  background: #ebebeb;
}

.vertical .progress-fill {
  background: rgb(57, 186, 193);
  width: 20px;
}

#one {
  height: 30%;
}

#two {
  height: 38%;
}

#three {
  height: 42%;
}

#four {
  height: 54%;
}

#five {
  height: 63%;
}

#six {
  height: 82%;
}

#seven {
  height: 90%;
}

#eight {
  height: 92%;
}

#nine {
  height: 95%;
}

#ten {
  height: 98%;
}

.rounded .progress-track,
.rounded .progress-fill {
  box-shadow: inset 0 0 5px rgba(0,0,0,.2);
  border-radius: 3px;
}

.section-under-graph {
  height: 100px;
  display: grid;
  grid-template-columns: 60% 40%;
}

.under-line-graph,
.under-donut-graph {
  display: flex;
  justify-content: center;
}

.main-line-graph-button {
  width: 150px;
  height: 40px;
  border-radius: 300px;
}

.main-donut-graph-button {
  width: 200px;
  height: 40px;
  border-radius: 300px;
}

.line {
  background-color: rgb(236, 242, 245);
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 40px 1fr;
}

.line-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 140%;
}

.section-line hr {
  width: 90%;
  margin-left: 5%;
}